<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/img/weather.png">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Weather</title>
</head>

<body style="background-image: url('/img/sky.jpg'); background-size: cover;">
<div id="google_translate_element" class="btn btn-lg btn-block"></div>

  <div class="main-content">
    {{>header}}

    <form>
      <input type="text" placeholder="Location">
      <button>Search</button>
    </form>
    <br/><br/>
    <p id="message-2" class="alert alert-warning" role="alert">Prediction appear here when you enter the location</p>
    <p id="message-1" class="alert alert-success" role="alert"></p>
    
  </div>

  {{>footer}}

  <script src="/js/app.js"></script>
</body>

</html>